header {
  align-items: center;
  background-color: rgb(32, 32, 32);
  color: white;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  height: 100px;
  justify-content: space-between;
  padding-left: 120px;
  padding-right: 120px;
}

.nav {
  color: white;
  font-size: 16px;
  font-weight: 700;
  margin-left: 10px;
  text-decoration: none;
}

.active {
  color: rgb(108, 2, 2);
  border-bottom: rgb(108, 2, 2) 1px solid;
}