header {
  align-items: center;
  background-color: rgb(32, 32, 32);
  color: white;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  height: 100px;
  justify-content: space-between;
  padding-left: 120px;
  padding-right: 120px;
}

h2, h3 {
  font-weight: 400;
}

.nav {
  color: white;
  font-size: 18px;
  font-weight: 400;
  margin-left: 20px;
  text-decoration: none;
}

.nav:hover {
  color: rgb(164, 3, 3);
}

.active {
  color: rgb(108, 2, 2);
  border-bottom: rgb(108, 2, 2) 2px solid;
  font-weight: 700;
}

.active:hover {
  color: rgb(108, 2, 2);
}