body {
  background-image: url('../images/restaurant.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover; 
}

.screen {
  background-color: rgba(43, 43, 43, 0.6);
  position: absolute;
  height: 100%;
  padding-top: 85px;
  width: 100%;
}

.form-area {
  display: flex;
  flex-direction: column;
}

.Up, .In {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 18px;
  height: 50px;
  width: 90px;
}

.Up:focus, .In:focus {
  outline: 0;
}

.Up:hover, .In:hover{
  cursor: pointer;
  color: rgb(108, 2, 2);
}