form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 450px;
}

input {
  height: 35px;
  margin: 7px 0;
}

input::placeholder{
  font-size: 18px;
  padding-left: 5px;
}

#sign-up {
  height: 35px;
  margin-top: 35px;
}